.footer-div{
    background-color: #222831;
    color: white;
    /*padding: 30px 0px;*/
    clear: both;
    min-height: calc(100vh - 650px);
    display: flex;
    align-items: center;
    justify-content: center;
}
