.inventory-div
{
    margin-left: 20px;
}

.inventory-div h4
{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.inventory-div h2
{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}