.step-div
{
    border-style: solid;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-color:#00ADB5;
}
.step-div h6
{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.step-div h5
{
 margin-bottom: 20px;
 margin-top: 20px;
}
.step-div form
{
    margin-top: 20px;
}

.step-div button
{
    margin-right: 10px;
    margin-left: 10px;
}
.step-div input[type="file"]
{
    margin-left: 20px;
}