.revenue-div
{
    box-shadow:5px 5px 8px #B1B1B1 ;
    display: flex;
    width: 87vw;
    margin-top: -10px;
    justify-content: space-between;
}
.revenue-div .sales h2
{
    text-align: center;
    margin-top: 10px;
}
.revenue-div .sales
{
    margin-left: 10px;
    padding: 10px;
}
.revenue-div .revenue
{
    margin-right: 10px;
    padding: 10px;
}
.revenue-div .revenue h2
{
    text-align: center;
    margin-top: 10px;
}

.revenue-parent-div .monthly-revenue-div
{
    margin-top: 20px;
    margin-left: 20px;
}

.revenue-div .popular-prod
{
    padding: 10px;
}

.revenue-div .popular-prod h2
{
    margin-top: 10px;
    text-align: center;
}

.revenue-div .avg-review
{
    margin-right: 10px;
    padding: 10px;
}
.revenue-div .avg-review h2
{
    margin-top: 10px;
    text-align: center;
}
.revenue-parent-div .prodgraph-div
{
    margin-left: 20px;
    width: 85vw;
}


